@import "./header.css";
@import "./main.css";
@import "./normalize.css";
@import "../vendor/fonts.css";

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1920px;
  background: white;
}

* {
  margin: 0;
  padding: 0;
}

.JetBrains {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 500;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 1450px) {
  .wrapper {
    width: 95%;
  }
}
